<h1>List of all directors</h1>

<table border="1">
<% @list_of_directors.each do |ele| %>
  <tr>
    <td><%= ele.id %></td>
    <td>
      <img src="http://robohash.org/<%= ele.name %>">
    </td>
    <td><%= ele.name %></td>
    <td><%= ele.dob %></td>
    <td><a href="/directors/<%= ele.id %>">Show details</a></td>
    
    
  </tr>
  <% end %>
</table>